<!-- <div class="impact-container">
  <h2 class="title">Impact Metrics</h2>

  <div class="charts-wrapper">
    <div class="chart-card">
      <canvas id="pieChartCanvas"></canvas>
    </div>

    <div class="chart-card">
      <canvas id="barChartCanvas"></canvas>
    </div>
  </div>
</div> -->


<div class="impact-container">
  <h2 class="title">Impact Metrics</h2>

  <div class="charts-wrapper">
    <div class="chart-card">
      <canvas id="pieChartCanvas"></canvas>
    </div>

    <div class="chart-card">
      <canvas id="barChartCanvas"></canvas>
    </div>
  </div>
</div>
