body {
    font-family: "Poppins", sans-serif !important;
}

.main {
    min-height: calc(100vh - 120px);
    padding: 16px;
}

.updatebtn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 40px;
    font-weight: bold;
    border: 2px solid #000;
    transition: background-color 0.2s ease;
}

.updatebtn:hover {
    filter: brightness(1.1);
}

input {
    border-color: #000;
    width: 100%;
}

button {
    border-color: #000;
    border-width: 2px;
}

/* Eye Icon Button */
.showPassBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    color: #555;
    margin-top: 0.8rem;
}

.showPassBtn i {
    font-size: 20px;
}

/* Mobile Improvements */
@media (max-width: 768px) {
    .updatebtn {
        width: 100%;
    }
}

.heading {
  font-weight: bold !important;
  font-size: x-large !important;
  font-family: "Poppins", sans-serif !important;
}