
<div class="flex justify-center items-center bg-gray-100 py-10 main">

  <div class="w-full max-w-md bg-white shadow-lg border border-gray-200 p-10 text-center rounded-md">

    <h2 class="text-2xl heading font-bold mb-8">FORGOT PASSWORD</h2>

    <!-- STEP 1: EMAIL -->
    <form *ngIf="step === 1" [formGroup]="emailForm" class="text-left">

      <label class="block text-sm font-semibold mb-1">Email</label>
      <input type="email" formControlName="email"
        class="w-full border border-gray-400 px-3 py-2 mb-6 focus:ring-2 focus:ring-purple-600" />

      <button type="button" (click)="sendOtp()"
        class="w-full bg-purple-700 text-white py-2 font-bold hover:bg-purple-800 transition rounded submin-btn">
        SEND CODE
      </button>

    </form>

    <!-- STEP 2: OTP + PASSWORD RESET -->
    <form *ngIf="step === 2" [formGroup]="resetForm" class="text-left">

      <!-- OTP -->
      <label class="block text-sm font-semibold mb-1 mt-3">Enter Code</label>
      <input type="number" formControlName="otp"
        class="w-full border border-gray-400 px-3 py-2 mb-4 focus:ring-2 focus:ring-purple-600" />

      <!-- New Password -->
      <label class="block text-sm font-semibold mb-1">New Password</label>
      <div class="relative mb-4">
        <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
          class="w-full border border-gray-400 px-3 py-2 pr-10 focus:ring-2 focus:ring-purple-600" />
        <button type="button" (click)="togglePassword('new')"
          class="absolute right-3 top-1/4 -translate-y-1/4 text-gray-600">
          <i class="material-icons showPassBtn">{{ showNewPassword ? 'visibility_off' : 'visibility' }}</i>
        </button>
      </div>

      <!-- Confirm Password -->
      <label class="block text-sm font-semibold mb-1">Confirm Password</label>
      <div class="relative mb-6">
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
          class="w-full border border-gray-400 px-3 py-2 pr-10 focus:ring-2 focus:ring-purple-600" />
        <button type="button" (click)="togglePassword('confirm')"
          class="absolute right-3 top-1/4 -translate-y-1/4 text-gray-600">
          <i class="material-icons showPassBtn">{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</i>
        </button>
      </div>

      <!-- Reset Button -->
      <button type="button" (click)="submitReset()"
        class="w-full bg-purple-700 text-white py-2 font-bold hover:bg-purple-800 transition rounded submin-btn">
        RESET PASSWORD
      </button>

    </form>

  </div>
</div>
