// .showPassBtn{
//     border: none;
//     top: 2.80rem;
// }
body{
  font-family: "Poppins", sans-serif !important;
}
.main{
    height: 80vh;
}
.submin-btn{
    background-color: var(--primary-color);
    color: #fff;
}
.heading {
  font-weight: bold !important;
  font-size: x-large !important;
  font-family: "Poppins", sans-serif !important;
}